{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link type="text/css" href="{% static 'Homework2app/css/styles.css' %}" rel="stylesheet" />
<!--	Прикрутил стили -->
</head>
<body>
	<header>


		<a href="about"><button>О сайте</button></a>
		<a href="client"><button>Клиенты</button></a>
		<a href="index"><button>Главная страница</button></a>
		<a href="report"><button>Отчеты</button></a>
		<a href="product_list"><button>Список продуктов</button></a>
		<a href="product_detail"><button>product_detail.html</button></a>



	</header>
	{% block content %}
	{% endblock %}
	<footer>
		<p>&copy; 2023 My Website</p>
	</footer>
</body>
</html>
